# OS Files
.DS_Store
.vscode
.trunk
.idea

# Binaries for Programs and Plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`.
*.test

# Output of the go coverage tool, specifically when used with LiteIDE.
*.out

# Dependency Directories
# Remove the comment below to include it.
# vendor/

# Built go Binaries
bin/

# Config Files
*config.yaml

# Temporary Files
tmp/

# Scribe-Data SQLite Files
*.sqlite
