basePath: /
definitions:
  models.AvailableLanguagesResponse:
    properties:
      languages:
        items:
          $ref: '#/definitions/models.LanguageInfo'
        type: array
    type: object
  models.Contract:
    properties:
      fields:
        additionalProperties:
          additionalProperties:
            type: string
          type: object
        description: Field definitions grouped by section and name
        type: object
      updated_at:
        description: Last update timestamp (RFC3339 format)
        type: string
      version:
        description: Contract version identifier
        type: string
    type: object
  models.ContractsResponse:
    properties:
      contracts:
        additionalProperties: {}
        type: object
    type: object
  models.ErrorResponse:
    properties:
      error:
        description: Description of the error
        type: string
    type: object
  models.LanguageDataResponse:
    properties:
      contract:
        allOf:
        - $ref: '#/definitions/models.Contract'
        description: Contract details defining the schema
      data:
        additionalProperties: {}
        description: Actual data, structured according to the contract
        type: object
      language:
        description: ISO code of the language
        type: string
    type: object
  models.LanguageInfo:
    properties:
      code:
        description: ISO code of the language (e.g. "en", "fr")
        type: string
      data_types:
        description: List of supported data types for this language
        items:
          type: string
        type: array
    type: object
  models.LanguageStatisticsReponse:
    properties:
      code:
        description: ISO code of the language
        type: string
      language_name:
        description: Human-readable language name (nullable)
        type: string
      nouns:
        description: Count of noun entries
        type: integer
      verbs:
        description: Count of verb entries
        type: integer
    type: object
  models.LanguageVersionResponse:
    properties:
      language:
        description: ISO code of the language
        type: string
      versions:
        additionalProperties:
          type: string
        description: Map of data types to version identifiers
        type: object
    type: object
externalDocs:
  description: GitHub Repository
  url: https://github.com/scribe-org/Scribe-Server
host: scribe-server.toolforge.org
info:
  contact:
    email: team@scri.be
    name: Scribe Team
    url: https://scri.be/
  description: Scribe-Server is a backend service that provides the API by which data
    is available for download within Scribe apps.
  license:
    name: GPL-3.0 license
    url: https://github.com/scribe-org/Scribe-Server/blob/main/LICENSE.txt
  termsOfService: https://github.com/scribe-org/Scribe-Server/blob/main/.github/CODE_OF_CONDUCT.md
  title: Scribe Server API
  version: "1.0"
paths:
  /api/v1/contracts:
    get:
      consumes:
      - application/json
      description: If a 'lang' query parameter is provided, returns the contract for
        that specific language. Otherwise, returns all contracts.
      parameters:
      - description: Language code (ISO 639-1)
        example: es
        in: query
        name: lang
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved contracts
          schema:
            $ref: '#/definitions/models.ContractsResponse'
        "400":
          description: Invalid language code provided
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Language not supported
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Failed to load contract files
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Retrieve schema contracts
      tags:
      - Contracts
  /api/v1/data-version/{lang}:
    get:
      consumes:
      - application/json
      description: Provides last modified timestamps for each data type of the specified
        language.
      parameters:
      - description: Language code (ISO 639-1)
        example: fr
        in: path
        name: lang
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved language version details
          schema:
            $ref: '#/definitions/models.LanguageVersionResponse'
        "400":
          description: Invalid language code
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Language not found
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Get version information for a language
      tags:
      - Language Data
  /api/v1/data/{lang}:
    get:
      consumes:
      - application/json
      description: Returns all available language data and schema contract for the
        given ISO 639-1 language code.
      parameters:
      - description: Language code (ISO 639-1)
        example: en
        in: path
        name: lang
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved language data
          schema:
            $ref: '#/definitions/models.LanguageDataResponse'
        "400":
          description: Invalid or malformed language code
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Requested language not found or unsupported
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal server error while fetching data
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Retrieve full language data
      tags:
      - Language Data
  /api/v1/language-stats:
    get:
      consumes:
      - application/json
      description: Returns the number of nouns and verbs for the specified language
        codes.
      parameters:
      - description: 'Comma-separated list of language codes to filter (e.g., '
        in: query
        name: codes
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of language statistics
          schema:
            items:
              $ref: '#/definitions/models.LanguageStatisticsReponse'
            type: array
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Language not found
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Get statistics for one or multiple languages
      tags:
      - statistics
  /api/v1/languages:
    get:
      consumes:
      - application/json
      description: Fetches all languages currently supported by Scribe, along with
        their associated data types.
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved available languages
          schema:
            $ref: '#/definitions/models.AvailableLanguagesResponse'
        "500":
          description: Internal server error occurred while fetching languages
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: List all supported languages
      tags:
      - Languages
swagger: "2.0"
