basePath: /
definitions:
  models.AvailableLanguagesResponse:
    properties:
      languages:
        items:
          $ref: '#/definitions/models.LanguageInfo'
        type: array
    type: object
  models.Contract:
    properties:
      fields:
        additionalProperties:
          additionalProperties:
            type: string
          type: object
        type: object
      updated_at:
        type: string
      version:
        type: string
    type: object
  models.ContractsResponse:
    properties:
      contracts:
        additionalProperties: {}
        type: object
    type: object
  models.ErrorResponse:
    properties:
      error:
        type: string
    type: object
  models.LanguageDataResponse:
    properties:
      contract:
        $ref: '#/definitions/models.Contract'
      data:
        additionalProperties: {}
        type: object
      language:
        type: string
    type: object
  models.LanguageInfo:
    properties:
      code:
        type: string
      data_types:
        items:
          type: string
        type: array
    type: object
  models.LanguageStatisticsReponse:
    properties:
      code:
        type: string
      language_name:
        type: string
      nouns:
        type: integer
      verbs:
        type: integer
    type: object
  models.LanguageVersionResponse:
    properties:
      language:
        type: string
      versions:
        additionalProperties:
          type: string
        type: object
    type: object
externalDocs:
  description: GitHub Repository
  url: https://github.com/scribe-org/Scribe-Server
host: scribe-server.toolforge.org
info:
  contact:
    email: team@scri.be
    name: Scribe Team
    url: https://scri.be/
  description: Scribe-Server is a backend service that provides the API by which data
    is available for download within Scribe apps.
  license:
    name: GPL-3.0 license
    url: https://github.com/scribe-org/Scribe-Server/blob/main/LICENSE.txt
  termsOfService: https://github.com/scribe-org/Scribe-Server/blob/main/.github/CODE_OF_CONDUCT.md
  title: Scribe Server API
  version: "1.0"
paths:
  /api/v1/contracts:
    get:
      consumes:
      - application/json
      description: Returns schema contracts for all languages or a specific language
        if 'lang' query parameter is provided.
      parameters:
      - description: Language code (ISO 639-1)
        example: en
        in: query
        name: lang
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Schema contracts".
          schema:
            $ref: '#/definitions/models.ContractsResponse'
        "400":
          description: Invalid language code".
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Language not supported".
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal server error".
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Get contracts.
      tags:
      - contracts
  /api/v1/data-version/{lang}:
    get:
      consumes:
      - application/json
      description: Returns last modified dates for each data type of a specific language.
      parameters:
      - description: Language code (ISO 639-1)
        example: en
        in: path
        name: lang
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Language version information".
          schema:
            $ref: '#/definitions/models.LanguageVersionResponse'
        "400":
          description: Invalid language code
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Language not supported
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Get language data versions.
      tags:
      - language-data
  /api/v1/data/{lang}:
    get:
      consumes:
      - application/json
      description: Returns all available language data and schema contract for a specific
        language.
      parameters:
      - description: Language code (ISO 639-1)
        example: en
        in: path
        name: lang
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Complete language data with schema".
          schema:
            $ref: '#/definitions/models.LanguageDataResponse'
        "400":
          description: Invalid language code".
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Language not supported".
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal server error".
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Get language data.
      tags:
      - language-data
  /api/v1/language-stats:
    get:
      consumes:
      - application/json
      description: Returns the number of nouns and verbs for the specified language
        codes.
      parameters:
      - description: Comma-separated list of language codes to filter (e.g., 'fr,de,es')
        in: query
        name: codes
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of language statistics
          schema:
            items:
              $ref: '#/definitions/models.LanguageStatisticsReponse'
            type: array
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Language not found
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Get statistics for one or multiple languages
      tags:
      - statistics
  /api/v1/languages:
    get:
      consumes:
      - application/json
      description: Returns a list of all supported languages with their available
        data types.
      produces:
      - application/json
      responses:
        "200":
          description: List of supported languages".
          schema:
            $ref: '#/definitions/models.AvailableLanguagesResponse'
        "500":
          description: Internal server error".
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Get available languages.
      tags:
      - languages
swagger: "2.0"
